@model PostDto

<div class="col col-lg-4 col-md-6 col-12 mb-5">

    <div class="card h-100 border-0 border-bottom border-top border-4">
        <a asp-action="Details"
           asp-route-id="@Model.Id">
            <img src="@Url.Content(Model.MainPostImagePath)"
                 class="card-img-top rounded rounded-1 mt-3"
                 alt="@Model.Title">
        </a>
        <div class="card-body p-1">
        </div>
        <div class="card-footer bg-white">

            @if (User.HasClaim(MyClaims.PostsWriter, MyClaims.PostsWriter))
            {
                <div class="row bg-light border border-1 rounded rounded-3 p-3 mb-1">
                    <div class="col col-6">
                        <a href="#" class="btn btn-outline-warning 
                                           border border-3 border-warning 
                                           fs-5 fw-semibold w-100">Edit</a>
                    </div>

                    @if (User.HasClaim(MyClaims.Admin, MyClaims.Admin))
                    {
                        <div class="col col-6">
                            <a href="#" class="btn btn-outline-danger 
                                               border border-3 border-danger 
                                               fs-5 fw-semibold w-100">Delete</a>
                        </div>
                    }
                </div>
            }

            <h5 class="card-title">
                <a asp-action="Details"
                   asp-route-id="@Model.Id"
                   class="text-decoration-none">@Model.Title</a>
            </h5>
            <p class="card-text">
                <a asp-action="Index"
                   asp-route-categoryId="@Model.Category!.Id"
                   class="badge text-bg-warning rounded-pill text-decoration-none p-2">
                    @Model.Category?.Name
                </a>
            </p>
        </div>
    </div>
</div>