@model PostDetailVM

@{
    ViewData["Title"] = "Details";
}

<div class="mb-5">
    <a asp-action="Index"
       class="link-secondary text-decoration-none 
              border border-0 border-bottom border-3 border-primary border-opacity-75 
              pb-2 fw-bold fs-3 pe-3 mb-5">
        <i class="bi bi-arrow-return-left"></i> On Main Page
    </a>
</div>

@if (User.HasClaim(MyClaims.PostsWriter, MyClaims.PostsWriter))
{
    <hr class="bg-success mb-5" style="height:5px;" />

    <div class="text-center mb-5">
        <a href="#" class="btn btn-lg btn-outline-warning 
                           border border-5 border-warning 
                           fw-semibold fs-3 ps-md-5 pe-md-5 me-3">Edit Post</a>

        @if (User.HasClaim(MyClaims.Admin, MyClaims.Admin))
        {
            <a href="#" class="btn btn-lg btn-outline-danger 
                               border border-5 border-danger 
                               fw-semibold ps-md-5 pe-md-5 fs-3">Delete Post</a>
        }
    </div>

    <hr class="bg-success mb-5 mt-0" style="height:5px;" />
}

<h1 class="display-1 fw-semibold text-center mb-5">
    @Model.Post!.Title
</h1>

<div class="d-inline-flex flex-row 
            border border-0 border-bottom border-3 border-success 
            align-items-baseline fs-2 pb-1 mb-3">

    <div class="badge text-black bg-white fw-semibold pe-md-5 pe-3">
        <i class="bi bi-calendar4-week"></i>
        @Model.Post!.Created.ToShortDateString()
    </div>

    <div class="text-muted fs-1 pe-md-5 pe-3">
        |
    </div>

    <div class="badge bg-warning fw-bold pe-3 me-3">
        @if (Model.Post.Category != null)
        {
            <a asp-action="Index"
                asp-route-categoryId="@Model.Post.CategoryId"
                class="text-decoration-none">
                @Model.Post.Category!.Name
            </a>
        }
        else
        {
            @:"No Category"
        }
    </div>
</div>


<div class="text-center">
    <img src="@Url.Content(Model.Post.MainPostImagePath)"
         class="img-fluid img-thumbnail mb-5"
         alt="@Model.Post.Title">

    <div style="white-space: pre-line" class="fs-3 mb-5">
        @Model.Post.Body
    </div>
    <hr class="bg-warning border-0 mb-1" style="height:5px" />
    <hr class="bg-info border-0 mt-0" style="height:5px" />
</div>


<div class="mb-5">
    <a asp-action="Index"
       class="link-secondary text-decoration-none 
              border border-0 border-bottom border-3 border-primary border-opacity-75 
              pb-2 fw-bold fs-3 pe-3 mb-5">
        <i class="bi bi-arrow-return-left"></i> On Main Page
    </a>
</div>


<p>
    <button class="btn btn-light text-center border-5 border-bottom w-100"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseComments"
            aria-expanded="false"
            aria-controls="collapseComments">
        <div class="row align-items-center">
            <div class="col-4 text-start ms-md-3">
                <span id="commentsCountId"
                      class="bi bi-chat-dots fs-4 opacity-75 fw-semibold">
                    @Model.Post.Comments?.Count
                </span>
            </div>
            <div class="col-4">
                <span class="display-6 fw-semibold">
                    @Html.DisplayNameFor(m => m.Post!.Comments) 
                    <i class="bi bi-arrows-expand fs-2 opacity-75"></i>
                </span>
            </div>
        </div>
    </button>
</p>


<div class="collapsed" id="collapseComments">
    @foreach (var comment in Model.Post.Comments!
                .Where(c => c.ParentCommentId == null)
                .OrderBy(c => c.Created))
    {
        <partial name="_WriteParentCommentAndChildrenPartial"
                 model="new CommentVM
                 {
                     Comment = comment,
                     CurrentNested = 0
                 }" />
    }



    <div id="mainCommentId"></div>



    @if (User.Identity!.IsAuthenticated)
    {
        <div class="mt-5">
            @*
                (!) Here is onsubmit="mainCommentHandler(event)"
            *@
            <form name="mainCommentForm" onsubmit="mainCommentHandler(event)">
                <textarea asp-for="@(new CommentDto().Message)"
                          class="form-control border border-5 border-warning mb-1"
                          placeholder="Your comment..."
                          rows="5">
                </textarea>
                <span asp-validation-for="@(new CommentDto().Message)" 
                      class="text-danger"></span>

                <input type="hidden" name="postId" value="@Model.Post.Id" />

                <input type="submit"
                   value="Send"
                   class="btn btn-lg btn-outline-primary
                          border-top-0 border-bottom-0 border border-5 border-primary
                          mb-1 me-5 ps-3 pe-3 w-100 fs-1 fw-bold" />
            </form>
        </div>
    }
    else
    {

        <div class="alert alert-warning fs-4" role="alert">
            For write the comments here please
            <a asp-controller="Account"
               asp-action="Login"
               class="alert-link link-success text-decoration-none">log in</a>
            or
            <a asp-controller="Account"
               asp-action="Registration"
               class="alert-link link-primary text-decoration-none"> register</a>
               <br />
            <hr class="bg-success border-0 mb-1 opacity-50" style="height:5px" />
            <hr class="bg-primary border-0 mt-0 mb-0 opacity-50" style="height:5px" />
        </div>
    }
</div>

<script src="~/js/myJS/commentsHandlers.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
